$white: #f8f8f2;
$black: #282a36;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$section-color: #131421;
$section-color2: #1b242f;
