@use "colors";
@use "section";

/* About */
#About {
  @include section.section;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: colors.$section-color;

  .about-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text {
    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem;
    }

    .description {
      padding: 0.5rem;
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
  .icon img {
    width: auto;
    height: 450px;
  }

  .icon-list {
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    .title {
      text-transform: uppercase;
      font-size: 1.5rem;
      padding: 1rem;
      font-weight: bold;
    }

    .icons {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      svg {
        width: 8vw;
        height: 8vh;
        margin: 0.25rem 1rem 0.25rem 0.25rem;
        border: 1px solid colors.$purple;
        border-radius: 5px;
        padding: 0.5rem;
        box-shadow: 0 0 5px colors.$purple;
        transition: all 300ms ease-in-out;
      }
      svg:hover {
        border: 2px solid colors.$purple;
        animation-name: pulse;
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
      }
      .Tooltip {
        position: relative;
        .tooltip-text {
          width: 8.5vw;
          background-color: colors.$purple;
          color: colors.$black;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;

          animation-name: fade;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-iteration-count: 1;
        }
        .tooltip-text::after {
          content: "  ";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent colors.$purple transparent;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
